<div class="concert-list">
  <h2>ライブ一覧</h2>

  <%= link_to "新しいライブを追加", new_concert_path, class: "btn-primary" %>

  <% if @concerts.any? %>
    <ul class="concert-items">
      <% @concerts.each do |concert| %>
        <li class="concert-items">
          <%= link_to "#{concert.title}（#{concert.date.strftime('%Y/%m/%d')}）", concert_path(concert) %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>まだライブが登録されていません</p>
  <% end %>
</div>
